PATH_TO_AIRLINE_TRAIN=path_to_airline_passenger_train_file
PATH_TO_AIRLINE_TEST=path_to_airline_passenger_test_file
PATH_TO_CREDIT_CARD=path_to_credit_card_fraud_file
PATH_TO_SPOTIFY_GENRE=path_to_spotify_tracks_file
PATH_TO_STELLAR_DS=path_to_stellar_ds_file